<div class="card text-center" style="width: 25rem; margin: 50px auto;">
    <div class="card-header">
      <h4>Crear reunion</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="regForm" (ngSubmit)="guardar()" >
        <img class="mb-4" src="../../assets/Online team meeting _Isometric.png" alt="" width="150" height="150">
        <div class="form-floating mb-2">
          <input type="text" class="form-control" id="floatingInput" placeholder="name" 
          [class.is-invalid]="nameNoValido" formControlName="name">
          <label for="floatingInput">Nombre</label>
          <small  *ngIf="nameNoValido"  class="text-danger">
            Ingrese minimo 4 letras
          </small>
        </div>
        
        <div class="form-floating mb-2">
          <input type="date" class="form-control" id="floatingInput" placeholder="fecha" 
          [class.is-invalid]="fechaNoValida" formControlName="fecha">
          <label for="floatingInput">Fecha</label>
          <small  *ngIf="fechaNoValida" class="text-danger">
            Ingrese una fecha
          </small>
        </div>
        <div class="form-floating mb-2">
            <input type="time" class="form-control" id="floatingInput" placeholder="hora" 
            [class.is-invalid]="horaNoValida"formControlName="hora">
            <label for="floatingInput">Hora</label>
            <small  *ngIf="horaNoValida"  class="text-danger">
              Ingrese una hora
            </small>
          </div>
        <div class="form-floating mb-2">
          <input type="text" class="form-control" id="floatingInput" placeholder="descripcion" 
          [class.is-invalid]="descripcionNoValida" formControlName="descripcion">
          <label for="floatingInput">Descripción</label>
          <small  *ngIf="descripcionNoValida"  class="text-danger">
            Ingrese una descripcion
          </small>
        </div>
        
        <button class="w-50 btn btn-lg btn-primary mb-2" type="submit">Crear reunion</button>
      </form>

      
    </div>
</div>

<div
class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">

<div class="text-white mb-3 mb-md-0">
   Copyright ICIG© 2023. Todos los derechos reservados. 
</div>

<div>
  <a href="https://www.facebook.com/IglesiaCristianaImpactandoGeneraciones" class="text-white me-4">
    <i class="bi bi-facebook"></i>
  </a>
  <a href="https://www.youtube.com/@iglesiacristianaimpactando165" class="text-white me-4">
    <i class="bi bi-youtube"></i>
  </a>

  <a href="https://wa.link/bbi571" class="text-white">
    <i class="bi bi-whatsapp"></i>
  </a>
</div>
</div>
  