<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
        <a class="navbar-brand mt-2 mt-lg-0" href="login">
          <img
            src="../../assets/icig-removebg-preview.png"
            height="50"
            loading="lazy"
          />
        </a>
       
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="this.userT">
            <a class="nav-link" href="main">Inicio</a>
          </li>
          
          <li class="nav-item" *ngIf="this.userT">
            <a class="nav-link" href="main/users">Usuarios</a>
          </li>
          <li class="nav-item" *ngIf="this.userT">
            <a class="nav-link" href="main/meetings">Reuniones</a>
          </li>
          <li class="nav-item" *ngIf="this.userT">
            <a class="nav-link" href="main/familiargroups">Grupos F.</a>
          </li>
          
        </ul>
        <button class="btn  ms-3" *ngIf="this.userT" type="button" (click)="logout()" >
                    
          <i class="bi bi-box-arrow-left me-1"></i>
         Cerrar sesión
          <span class="badge bg-dark text-white ms-1 rounded-pill"></span>
      </button>

        
      
      </div>
     
    </div>
    
  </nav>
