

  <div class="container marketing container-customer items-center">

    <div class="row  justify-content-center align-items-center">
        <img src="../../assets/icigiport.png" class="imagen">
        
      <div class="col-lg-4 flex flex-col items-center">
       
        <img class="w-50" src="../../assets/User Group_Monochromatic.png" alt="">

        <h2 class="fw-normal">Usuarios</h2>
        <p>Aquí podrás gestionar todo lo relacionado con los usuarios de la iglesia.</p>
        <p><a class="btn btn-secondary" routerLink='../main/users'>Ver más &raquo;</a></p>
      </div>
      <div class="col-lg-4 flex flex-col items-center" >
        <img class="w-50" src="../../assets/Online team meeting _Isometric.png" alt="">

        <h2 class="fw-normal">Reuniones</h2>
        <p>Aquí podrás gestionar todo lo relacionado con las reuniones de la iglesia, desde las principales hasta las de consolidación.</p>
        <p><a class="btn btn-secondary" routerLink='../main/meetings'>Ver más &raquo;</a></p>
      </div>

      <div class="col-lg-4 flex flex-col items-center" >
        <img class="w-50" src="../../assets/famgroups.png" alt="">

        <h2 class="fw-normal">Grupos familiares</h2>
        <p>Aquí podrás gestionar todo lo relacionado con los grupos familiares, como su creacion y actualización</p>
        <p><a class="btn btn-secondary" routerLink='../main/familiargroups'>Ver más &raquo;</a></p>
      </div>
     
    </div>

    <hr class="featurette-divider">

  </div>

  <div
  class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
 
  <div class="text-white mb-3 mb-md-0">
     Copyright ICIG© 2023. Todos los derechos reservados. 
 
  </div>
  

  <div>
    <a href="https://www.facebook.com/IglesiaCristianaImpactandoGeneraciones" class="text-white me-4">
      <i class="bi bi-facebook"></i>
    </a>
    <a href="https://www.youtube.com/@iglesiacristianaimpactando165" class="text-white me-4">
      <i class="bi bi-youtube"></i>
    </a>
  
    <a href="https://wa.link/bbi571" class="text-white">
      <i class="bi bi-whatsapp"></i>
    </a>
  </div>
 
</div>
