<div class="card text-center" style="width: 25rem; margin: 50px auto;">
    <div class="card-header">
      <h4>Crear reunion</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="regForm" >
        <img class="mb-4" src="../../assets/famgroups.png" alt="" width="150" height="150">
        <div class="form-floating mb-2">
          <input type="text" class="form-control" id="floatingInput" placeholder="name" formControlName="name">
          <label for="floatingInput">Nombre</label>
          <small  class="text-danger">
            Ingrese minimo 4 letras
          </small>
        </div>
        
        <div class="form-floating mb-2">
          <input type="text" class="form-control" id="floatingInput" placeholder="liderID" formControlName="liderID">
          <label for="floatingInput">LiderID</label>
          <small class="text-danger">
            Ingrese un UserID valido
          </small>
        </div>
        
        <div class="form-floating mb-2">
          <input type="text" class="form-control" id="floatingInput" placeholder="description" formControlName="description">
          <label for="floatingInput">Descripcion</label>
          <small  class="text-danger">
            Ingrese una descripcion
          </small>
        </div>
        
        <button class="w-50 btn btn-lg btn-primary mb-2" type="submit">Crear reunion</button>
      </form>

      
    </div>
</div>

<div
class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">

<div class="text-white mb-3 mb-md-0">
   Copyright ICIG© 2023. Todos los derechos reservados. 
</div>

<div>
  <a href="https://www.facebook.com/IglesiaCristianaImpactandoGeneraciones" class="text-white me-4">
    <i class="bi bi-facebook"></i>
  </a>
  <a href="https://www.youtube.com/@iglesiacristianaimpactando165" class="text-white me-4">
    <i class="bi bi-youtube"></i>
  </a>

  <a href="https://wa.link/bbi571" class="text-white">
    <i class="bi bi-whatsapp"></i>
  </a>
</div>
</div>
  